
Dockerproject-helloworld/.vs/Dockerproject-helloworld/v16/Server/sqlite3/storage.ide-wal
Dockerproject-helloworld/.vs/Dockerproject-helloworld/v16/Server/sqlite3/storage.ide-shm
Dockerproject-helloworld/.vs/Dockerproject-helloworld/v16/Server/sqlite3/storage.ide
Dockerproject-helloworld/.vs/Dockerproject-helloworld/v16/Server/sqlite3/db.lock
Dockerproject-helloworld/.vs/Dockerproject-helloworld/v16/.suo
